<!DOCTYPE html>
<html lang="en">

<head>
  <link rel='stylesheet' href='https://bootswatch.com/4/lux/bootstrap.min.css'>
</head>

<body>


  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('https://wallpapercave.com/wp/wp2622697.png');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->



    <div align="center">
      <h1 class="display1" align="center">Tweet-Generator</h1>
      <hr />
      <h3 class="display-5" align="Center">{{ sentence }}</h3>
      <form action="/">
        <button type="submit" class="btn btn-light">
          Generate!
        </button>
        <!-- Image Section - set the background image for the header in the line below -->

        <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
        <div style="height: 1000px;"></div>
  </section>
  </div>

</body>

</html>